* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-area {
    margin-bottom: 4rem;
}

.grid-container {
    display: grid;
    height: 30rem;
    width: 30rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 3rem;
}

.grid-div:nth-child(3n) {
    border-right: none;
}

.grid-div:nth-child(n+7) {
    border-bottom: none;
}