* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightblue;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    list-style-type: none;
}

li {
    margin: 2rem;
    display: inline;
}

label {
    margin-right: 2rem;
}

button {
    margin-left: 1rem;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    margin: -10px;
}

.display-area {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
}

.grid-container {
    grid-column: 2 / 3;
    display: grid;
    height: 24rem;
    width: 24rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    font-size: 3rem;
}

.grid-div:nth-child(3n) {
    border-right: none;
}

.grid-div:nth-child(n+7) {
    border-bottom: none;
}